<div class="row">
  <h1>Hello, <%= current_user.login %></h1>
  <%= form_for (@link) do |f| %>
    <div class="form-group">
      <%= f.label :full_url, "Enter your HTTP address" %>
      <%= f.text_field :full_url, class: "form-control" %>
    </div>
    <%= f.submit "Shorten it!", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<hr>
<h2>All links</h2>
<% if @links.empty? %>
  <p>Sorry, you haven't shorter links</p>
<% else %>
  <% @links.each do |link| %>
    <hr>
    <%= link_to_if !link.visited, "#{get_base_url}#{link.short_url}", "#{get_base_url}#{link.short_url}", data: {"no-turbolink": "no-turbolink" } %>
  <% end %>
<% end %>
</div>
